<div class="formall">
  <br>
  <div class="signtext">
    <h2><strong>Sign</strong> up to</h2>
    <br>
    <ul style="margin-left: -25px;">
      <li><h4>Receive customized ideas</h4></li>
      <li><h4>Set targets and goals</h4></li>
      <li><h4>Build a community</h4></li>
      <li><h4>Post your ideas</h4></li>
    </ul>
  </div>
  <br>
  <div class="signcard mb-4">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first_name" }%>
      <%= f.input   :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last_name" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :photo, as: :file,
                    required: false %>
        <%= f.input :survey_result,
                    input_html: { autocomplete: "survey_result", value: params[:co] }%>
      </div>

      <div class="form-button-container d-flex justify-content-center">

        <div class="form-actions">
          <%= f.button :submit, "Sign Up", class: "button-old" %>
        </div>

      </div>


    <% end %>

  </div>
</div>
