<div class="container-target">
  <div class="backcard">
    <h1>My target</h1>
    <h4>My co2 target</h4>
    <div class="targetchart"></div>
    <div class="actionbtncont">
      <h4>My actions</h4>
      <%= image_tag "plus-circle-fill.png"%>
    </div>
    <div class="saved_ideas">
      <div class="card-idea">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-idea-infos">
            <h2>Idea name</h2>
            <p>Idea <strong>impact</strong></p>
          </div>
          <div class="deletebtn">
            <%= image_tag "delete.png"%>
          </div>
      </div>
      <div class="card-idea">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-idea-infos">
            <h2>Idea name</h2>
            <p>Idea <strong>impact</strong></p>
          </div>
          <div class="deletebtn">
            <%= image_tag "delete.png"%>
          </div>
      </div>
      <div class="card-idea">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-idea-infos">
            <h2>Idea name</h2>
            <p>Idea <strong>impact</strong></p>
          </div>
          <div class="deletebtn">
            <%= image_tag "delete.png"%>
          </div>
      </div>
      <div class="card-idea">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-idea-infos">
            <h2>Idea name</h2>
            <p>Idea <strong>impact</strong></p>
          </div>
          <div class="deletebtn">
            <%= image_tag "delete.png"%>
          </div>
      </div>
    </div>
  </div>
</div>
