<div class="container-target">
  <div class="backcard">
    <h1>My target</h1>
    <h4>My co2 target</h4>
    <div class="targetchart">
      <canvas id="myChart"></canvas>
    </div>
    <div class="actionbtncont">
      <h4>My actions</h4>
      <%= image_tag "plus-circle-fill.png"%>
    </div>
    <div class="saved_ideas">
      <div class="card-idea">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-idea-infos">
            <h2>Idea name</h2>
            <p>Idea <strong>impact</strong></p>
          </div>
          <div class="deletebtn">
            <%= image_tag "delete.png"%>
          </div>
      </div>
      <div class="card-idea">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-idea-infos">
            <h2>Idea name</h2>
            <p>Idea <strong>impact</strong></p>
          </div>
          <div class="deletebtn">
            <%= image_tag "delete.png"%>
          </div>
      </div>
      <div class="card-idea">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-idea-infos">
            <h2>Idea name</h2>
            <p>Idea <strong>impact</strong></p>
          </div>
          <div class="deletebtn">
            <%= image_tag "delete.png"%>
          </div>
      </div>
      <div class="card-idea">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-idea-infos">
            <h2>Idea name</h2>
            <p>Idea <strong>impact</strong></p>
          </div>
          <div class="deletebtn">
            <%= image_tag "delete.png"%>
          </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = [
    'Max',
    'Results',
    'New Results',
    'Goal',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: '',
      backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(255, 159, 64, 0.2)', 'rgba(255, 205, 86, 0.2)'],
      borderColor: 'rgb(255, 99, 132)',
      data: [10 ,6, 4, 2]
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };
    const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
