<div class="container-target">
  <div class="backcard">
    <h1>My Targets</h1>
    <div class= "card cardTarget">
      <h4>My Footprint : </h4>
      <h5> <%= @co2_weighted_user.round(0) %> kg of Co2</h5>
      <h4>My Actions  :  </h4>
      <h5>  - <%= @co2_weighted_user.round(0) - @new_results.round(0) %> kg of Co2</h5>
      <h4>My Target : </h4>
      <h5> =  <%= @new_results.round(0) %> kg of Co2</h5>
    </div>
    <div class="targetchart">
      <canvas id="pChart"></canvas>
    </div>
    <div class="actionbtncont">
      <h4 id="myactiontitle">My Actions</h4>
      <h5 id="myactiontotal">Total = <%= @co2_weighted_user.round(0) - @new_results.round(0) %> kg of Co2</h5>
      <%# <a href="/ideas"><%= image_tag "plus-circle-fill.png" %></a>
    </div>
<div style="display: none;" class="new_result" data-result="<%=@new_results%>" data-survey="<%= @co2_weighted_user %>"></div>

    <div class="saved_ideas">

    <% @favourites.each do |favourite| %>
      <div class="card-target">
        <%= image_tag favourite.idea.photo, class: "card-target-sideimg" %>
          <div class="card-target-infos">
            <h2><%= favourite.idea.title %></h2>
            <p><%= favourite.idea.content %></p>
            <% test_impact = favourite.idea.impact.to_f * 100.0 %>
            <p class="bold-text">Estimated Impact: <%= test_impact %>%</p>
            <br>

            <div class="d-flex justify-content-between w-100 align-items-center">

              <%= link_to favourite_path(favourite), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt fa-lg opacity-50"></i>
              <% end %>

              <%= link_to chatroom_path(favourite.idea.chatroom) do %>
                <i class="fas fa-comments fa-xl"></i>
              <% end %>
            </div>

          </div>
      </div>
    <% end %>

  </div>

</div>

</div>

  <div class="container">
  <div class="button-container">
    <a class="mask" id="bnttarget" href="survey"><strong>About</strong></a>
    <%= link_to ' <button type="button" name="Hover" >About</button>'.html_safe, about_path(refresh: true) %>
  </div>
