<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" >
  <div class="container-fluid">
    <%= link_to image_tag("logo.png", alt: "Brand",style:" width: 20vw;"), root_path, :class=>'navbar-brand'  %>
    <div class="dropimg" data-controller="dropdown-menu" >
      <div data-action="click->dropdown-menu#menu">
        <%= image_tag "avatar.png", class:"avatarimg"%>
      </div>
      <div class="hidden dropdown" data-dropdown-menu-target="dropdown">
          <% if user_signed_in? %>
                <%= link_to "Footprint", results_path, class: "dropdown-item" %>
                <%= link_to "Ideas", ideas_path, class: "dropdown-item" %>
                <%= link_to "Target", favourites_path, class: "dropdown-item" %>
                <%= link_to "Community", destroy_user_session_path, class: "dropdown-item" %>
                <%= link_to "About", about_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          <% else %>
            <div class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
