

<h4> Country : <%=  @country  %></h4>
<h4> Transport to work: <%=  @work   %></h4>
<h4> Number of flights:<%=  @flight  %></h4>
<h4> Ideal temperature: <%=  @myRange  %></h4>
<h4> Free time: <%=  @leisure  %></h4>
<h4> Favorite food: <%=  @food  %></h4>
