<div class="resultscont">
  <div class="country" data-value="<%= @country %>"></div>
  <div class="transport_user" data-value="<%= @transport_user %>"></div>
  <div class="food_user" data-value="<%= @food_user %>"></div>
  <div class="house_user" data-value="<%= @house_user %>"></div>
  <div class="leisure_user" data-value="<%= @leisure_user %>"></div>

  <div class="results-container">
    <div class="results-card-pie">
      <div class="container container-pie">
        <div >
          <h1 id="title-result"> My CO2 Impact </h1>
        </div>
        <div class="middle ">
          <div class="d-flex justify-content-around titles--KPI">
            <h3 class="title-kpi">Co2 in kg</h3>
            <h3 class="title-kpi">Target</h3>
            <div class=" hover-text ">
              <i class="fa-solid fa-circle-info" id="info"></i>
              <span class="tooltip-text" id="left">Your Co2 Footprint is <strong><%= @co2_weighted.round(0) %>kg</strong>. Which is by far too much. We need to reach 2000kg (=2tons) per person to ensure a liveable world for our children.</span>
            </div>
          </div>
          <div class="d-flex justify-content-around">
            <p id="KPI"><%= @co2_weighted.round(0) %></p>
            <p id="targetW">2000</p>
          </div>

          <div class="containerpie d-flex ">
            <h2 class="split mx-0 text-center">Split per category</h2>
            <div class="hover-text">
              <i class="fa-solid fa-circle-info" id="info2"></i>
              <span class="tooltip-text tooltip-text2" id="left">Your Co2 impact is mainly coming from your transportation and your food.
              </span>
            </div>
          </div>
          <div class="my-3">
            <canvas id="myChart" style="display: block; box-sizing: border-box; height: 154px; width: 154.5px;" width="350" height="350"></canvas>
          </div>
        </div>
  </div>

  <div class="container-radar">
    <div class="transportcountry" data-value="<%= @transport_country %>"></div>
    <div class="foodcountry" data-value="<%= @food_country %>"></div>
    <div class="housecountry" data-value="<%= @house_country %>"></div>
    <div class="leisurecountry" data-value="<%= @leisure_country %>"></div>
    <div >
      <h2 class="comparison mx-0 mb-0 text-center ">Comparison</h2>

      <div class="hover-text tooltipComparison">
        <i class="fa-solid fa-circle-info" id="info3"></i>
          <span class="tooltip-text " id="left">We are comparing your impact per category versus <%= @co2_weighted %> average citizen
          </span>
      </div>
    </div>
    <div class="my-3">
      <canvas id="myRadar" width="350" height="350" style="display: block; box-sizing: border-box; height: 254px; width: 254.5px;"></canvas>
    </div>
    <div class="container" id="buttonhome">
      <div class="button-container">
        <span  class="mask" id="maskresult" >Get ideas!</span>
        <% if current_user %>
        <%= link_to '<button type="button" name="Hover" >Get ideas!</button>'.html_safe, ideas_path(refresh: true) %>
        <% else %>
          <%= link_to '<button type="button" name="Hover" >Get ideas!</button>'.html_safe, new_user_registration_path(co:@co2_weighted) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
