
<div class="resultscont">
  <div class="country" data-value="<%= @country %>"></div>
  <div class="transport" data-value="<%= @transport %>"></div>
  <div class="food" data-value="<%= @food %>"></div>
  <div class="house" data-value="<%= @house %>"></div>
  <div class="leisure" data-value="<%= @leisure %>"></div>

  <div class="results-container">
    <div class="results-card-pie">
      <div class="container container-pie">
        <div >
          <h1 id="title-result"> My CO2 Impact </h1>
        </div>
        <div class="middle ">
          <div class="d-flex justify-content-around">
                <h3 class="title-kpi">in Co2 tons</h3>
                <h3 class="title-kpi">Target</h3>
          </div>
          <div class="d-flex justify-content-around">
            <p id="KPI"><%= @co2_weighted %></p>
            <p id="targetW">2</p>
          </div>
          <div class="container-pie">
            <h2 class="split mx-0 text-center">Split per category</h2>
          </div>
          <div class="my-3">
            <canvas id="myChart" style="display: block; box-sizing: border-box; height: 154px; width: 154.5px;" width="350" height="350"></canvas>
          </div>
        </div>
  </div>

  <div class="container-radar">
    <div class="transportcountry" data-value="<%= @transportcountry %>"></div>
    <div class="foodcountry" data-value="<%= @foodcountry %>"></div>
    <div class="housecountry" data-value="<%= @housecountry %>"></div>
    <div class="leisurecountry" data-value="<%= @leisurecountry %>"></div>
    <div>
      <h2 class="comparison mx-0 mb-0 text-center">Comparison</h2>
    </div>
    <div class="my-3">
      <canvas id="myRadar" width="350" height="350" style="display: block; box-sizing: border-box; height: 254px; width: 254.5px;"></canvas>
    </div>
    <div class="container">
      <div class="button-container" id="bntresults">
        <span  class="mask" id="maskresult" >Get ideas!</span>
        <%= link_to '<button type="button" name="Hover" >Get ideas!</button>'.html_safe, ideas_path(refresh: true) %>
      </div>
    </div>


    </div>
  </div>
</div>
