<div class="results-container">
  <div class="results-card x-center">
    <h1><%= @donation.name %></h1>
    <p>Amount: <%= @donation.price / 100 %>€</p>
    <p>Thanks a lot for contributing to make the world a better place.</p>
    <%= form_with url: orders_path do %>
      <%= hidden_field_tag 'donation_id', @donation.id %>
      <%= submit_tag 'Donate', class: 'pay_btn' %>
    <% end %>
  </div>
</div>
