<div class="results-container">
  <div class="results-card x-center">
    <h1><%= @donation.name %></h1>
    <p>Amount: <%= humanized_money_with_symbol(@donation.price) %></p>
    <p>Some description about the donation, and the awesome person who donated</p>
    <%= form_with url: orders_path do %>
      <%= hidden_field_tag 'donation_id', @donation.id %>
      <%= submit_tag 'Donate', class: 'search-btn' %>
    <% end %>
  </div>
</div>
